$serif: 'PT Serif';
$sans: 'PT Sans';
$narrow: 'PT Sans Narrow';

@import "~bulma";

html, body {
  padding: 0px;
  margin: 0px;
}

#wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

header { 
  height: auto;
  font-family: $sans;
  width: 100%;
  border-bottom: 1px solid #204051;
  color: #3b6978;
}

header #filters {
  float: right;
  margin: 5px 10px 5px 0;
}

header #filter-label {
  font-size: 0.9em;
  position: relative;
  top: 3px;
  font-family: $narrow;
}

header h1 {
  font-size: 1.2em;
  padding: 0;
  margin: 5px 0 0 20px;
  display: inline-block;
  float: left;
  font-weight: bold;
  color: #3b6978;
  cursor: pointer;
}

h2.tl-headline-title {
  margin-bottom: 18px;
}

.tl-text-content {
  font-family: $serif;
}

.tl-text-content p {
  font-size: 17px;
  color: #333;
}

.tl-text-content p strong {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 80%;
  letter-spacing: 1.2px;
}

.tl-text ul {
  margin-bottom: 16px !important;
  margin-left: 0;
  padding-left: 0 !important;
}

.tl-text li {
  margin: 0;
  padding: 0;
}

.tl-headline-date {
  display: none !important;
}

.tl-text .tl-headline {
  font-family: $serif;
  font-weight: 300;
  padding: 0 0 6px 0;
  border-bottom: 3px solid rgba(27, 23, 3, 0.747);
  margin: 0 0 9px 0;
}

#app {
  width: 100%;
  margin: 20px 0 0 0;
  flex: 1 1 auto;
}

p.citation {
  line-height: 1.3em;
  font-size: 0.9em !important;
  color: #444;
}

.object-title {
  font-style: italic;
}

.object-dimensions {
  font-size: 0.75em;
}

.repository-url {
  margin-top: 8px;
  display: inline-block;
  font-family: 'Helvetica','Arial',sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  background-color: rgb(230, 235, 243);
  border-radius: 2px;
  padding: 2px 4px;
  text-decoration: none !important;
}

.repository-url:hover {
  background-color: rgb(206, 221, 245);
  color: rgb(76, 88, 107) !important;
}

#zoom-container-outer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(49, 49, 49, 0.95);
  z-index: 9999;
  display: none;
}

#zoom-container-inner {
  position: absolute;
  top: 45px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background-color: black;
  border-radius: 9px;
  padding: 10px;
}

#zoom-viewer-frame {
  width: 100%;
  height: 100%;
}

#zoom-viewer {
  height: 100%;
  width: 100%;
}

#zoom-closer {
  position: absolute;
  right: 20px;
  top: 10px;
  color: white;
  font-family: 'Helvetica',sans-serif;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 2px;
  padding: 1px 4px;
}

#zoom-closer:hover {
  background-color: rgba(255,255,255,0.2);
}

button.zoom-button {
  background-color: #3b6978;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 3px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

button.zoom-button:hover {
  background-color: #29454e;
}

.tl-timeline h2.tl-headline-title {
  font-size: 2.0em !important;
  letter-spacing: 0.05em;
}

.tl-text h2.tl-headline-title, .tl-text h2.tl-headline {
  font-size: 1.5em;
  letter-spacing: 0.05em;
}

.tl-media {
  padding-bottom: 50px;
}

@media all and (max-width: 650px) {

header #filters { float: none;
   width: 100%;
  margin-left: 20px; }

header #filter-label { display: none; }

h1 {
  display: none;
}
}